.otp-inputs-wrapper {
  @include flex-box(row,center,center,0.5rem);
  direction: ltr;
}
.otp-input {
  width: 3.0625rem;
  height: 3rem;
  @include flex-box(row,center,center);
  background-color: var(--secondary-300);
  border-radius: 0.38rem;
  text-align: center;
  &:focus {
    border: 1px solid var(--secondary-600);
  }
}
