@font-face {
  font-family: 'Peyda';
  src: url(@/assets/fonts/peyda/ttf/Peyda-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: 'Peyda';
  src: url(@/assets/fonts/peyda/ttf/peyda-extralight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: 'Peyda';
  src: url(@/assets/fonts/peyda/ttf/peyda-light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Peyda';
  src: url(@/assets/fonts/peyda/ttf/Peyda-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Peyda';
  src: url(@/assets/fonts/peyda/ttf/Peyda-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Peyda';
  src: url(@/assets/fonts/peyda/Peyda-Medium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Peyda';
  src: url(@/assets/fonts/peyda/ttf/Peyda-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Peyda';
  src: url(@/assets/fonts/peyda/ttf/PeydaWeb-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: 'Peyda';
  src: url(@/assets/fonts/peyda/ttf/Peyda-Black.ttf);
  font-weight: 900;
}
